.containerFooter {
  width: 100vw;
  height: min-content;
  display: flex;
  position: absolute;
  bottom: 0;
  padding-top: 4rem;
  padding-bottom: 8rem;
  justify-content: space-around;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-top: 2px solid #00000029;
}

.textColor {
  color: #00c83c;
  font-weight: 800;
}

.logo {
  width: 138px;
  height: 24px;
}

.textOficina {
  color: #3f3f3f;
}

.containerLogo {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.containerDatos {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.menuFooter {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: start;

  a {
    color: #3f3f3f;
    text-wrap: wrap;
  }
}

.containerRedesSociales {
  display: flex;
  justify-content: end;
  align-items: end;
  gap: 20px;
}

.iconRedesSocial {
  width: 20px;
  height: 20px;
}

@media (max-width: 768px) {
  .containerFooter {
    flex-direction: column;
    gap: 50px;
    width: 100vw;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 60px;
    height: min-content;
  }

  .containerRedesSociales {
    justify-content: start;
    align-items: start;
  }

  .menuFooter a {
    font-size: 13px;
  }
}
