.container-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #ffffff;
  border-top: 2px solid #00000029;
  padding: 2rem;

  .text-highlight {
    color: #00c83c;
    font-weight: 800;
  }

  .logo {
    width: 138px;
    height: 24px;
  }

  .text-oficina {
    color: #3f3f3f;
  }

  .container-logo {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .container-datos {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .menu-footer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    a {
      color: #3f3f3f;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .container-redes-sociales {
    display: flex;
    gap: 1.25rem;
  }

  .icon-redes-social {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 768px) {
  .container-footer {
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 3rem;
  }
  .menu-footer {
    justify-content: center;
    align-items: center;
    gap: 0;
  }
}
